In [19]:
import dash 
from dash import dcc, html, Input, Output
import plotly.express as px
import pandas as pd

In [20]:
#City Data
data_files = {
    "Value Index": r"C:\Users\Jatab\bootcamp\Backups\df_value_index_avg.csv",
    "Rental Index": r"C:\Users\Jatab\bootcamp\Backups\df_rental_index_avg.csv"
}

def load_dataset(path):
    df = pd.read_csv(path)
    df = df.drop(columns=['_id','RegionID','SizeRank', 'RegionType'], errors='ignore')
    df = df.rename(columns={'RegionName': 'City'})  # ðŸ‘ˆ The key line
    return df
dataframes = {name: load_dataset(path)for name, path in data_files.items()}

print(dataframes)

{'Value Index':                 City StateName           2000           2001           2002  \
0      United States       NaN  123244.341354  132216.059078  141407.454785
1       New York, NY        NY  225898.640331  253963.007913  286441.831977
2    Los Angeles, CA        CA  234232.790582  259460.074000  293963.604298
3        Chicago, IL        IL  154897.139217  168219.844533  181690.066329
4         Dallas, TX        TX  127330.335326  129510.347174  132673.619987
..               ...       ...            ...            ...            ...
890       Zapata, TX        TX            NaN            NaN            NaN
891    Ketchikan, AK        AK            NaN            NaN            NaN
892        Craig, CO        CO   98565.042098  106098.631320  112146.270120
893       Vernon, TX        TX            NaN            NaN            NaN
894       Lamesa, TX        TX            NaN            NaN            NaN

              2003           2004           2005           2006  \
0    152219.276642  166513.034375  185958.999763  202424.054803
1    328871.867872  371745.334644  424818.130476  466219.749370
2    349060.969260  435544.140327  526087.449058  591305.768722
3    195589.184812  210937.381908  229999.697634  246204.230553
4    136470.973176  143972.106365  148780.468345  151911.242457
..             ...            ...            ...            ...
890            NaN            NaN            NaN            NaN
891            NaN            NaN  216005.582133  229091.044842
892  116348.577048  122571.449906  134280.111599  143803.323283
893            NaN            NaN            NaN            NaN
894            NaN            NaN            NaN            NaN

              2007  ...           2016           2017           2018  \
0    204303.398826  ...  200442.251371  212455.964649  225956.080165
1    461030.939550  ...  432214.654627  453873.533058  476079.827499
2    580192.178486  ...  531215.491890  578407.606075  638874.895882
3    249568.380557  ...  206353.503180  217089.100967  227410.881007
4    154735.757738  ...  203826.724420  224992.592972  243319.873390
..             ...  ...            ...            ...            ...
890            NaN  ...  121951.348124  127249.049338  129481.149356
891  236920.938203  ...  273251.743047  281779.136530  297849.338031
892  151734.396793  ...  154185.173510  157576.028276  164322.916753
893            NaN  ...   66708.486121   66745.351138   70217.402459
894            NaN  ...   87081.942927   86052.437584   87890.851354

              2019           2020           2021           2022  \
0    237273.698325  252037.271577  290073.761783  333252.911484
1    492573.717218  509335.225829  557216.029302  603722.773516
2    654765.279324  688576.933538  784378.162461  889830.655390
3    233053.408464  239618.802010  264831.445350  288434.239052
4    251747.560893  262867.068772  304544.465502  369402.236148
..             ...            ...            ...            ...
890  134043.001825  143622.470043  156517.199886  157071.615399
891  316782.448658  336944.695132  361861.058417  384346.418062
892  174186.145048  187297.223541  210416.537831  244620.233979
893   74536.704252   80463.504121   86761.420233   95583.183870
894   93021.732853  103298.628114  112549.775193  108963.033442

              2023           2024           2025
0    341237.009350  352597.549273  356912.241981
1    617441.819061  659014.375418  679116.004981
2    888616.599903  948252.621929  973020.862143
3    296764.779236  314919.703462  323557.039140
4    371449.889749  373220.047115  370772.704239
..             ...            ...            ...
890  137344.923937  130596.853371  128954.330921
891  385121.777104  380943.841351  385720.611062
892  266988.340461  277353.718273  282989.517283
893   92103.473530   87689.237768   81970.966717
894   97241.179248   92042.359552   94073.944438

[895 rows x 28 columns], 'Rental Index':                 City StateName         2015         2016         2017  \
0      United States       NaN  1222.886746  1272.726436  1324.980922
1       New York, NY        NY  2264.603241  2320.259050  2360.929504
2    Los Angeles, CA        CA  1865.470889  1980.709953  2096.291737
3        Chicago, IL        IL  1418.714891  1459.132979  1496.606537
4         Dallas, TX        TX  1120.561324  1176.188901  1234.281656
..               ...       ...          ...          ...          ...
604   Los Alamos, NM        NM          NaN          NaN          NaN
605    Fairfield, IA        IA          NaN          NaN          NaN
606     Atchison, KS        KS          NaN          NaN          NaN
607  Brownsville, TN        TN          NaN          NaN          NaN
608     Portales, NM        NM          NaN          NaN          NaN

            2018         2019         2020         2021         2022  \
0    1379.926021  1437.577324  1473.553605  1597.766857  1797.542788
1    2405.585884  2477.629495  2388.506728  2453.966172  2861.405232
2    2196.433908  2285.085283  2306.795033  2442.845094  2734.757640
3    1532.708462  1576.008736  1585.563394  1634.017628  1791.873936
4    1281.255553  1330.180556  1358.015494  1492.125295  1689.007093
..           ...          ...          ...          ...          ...
604          NaN          NaN          NaN          NaN          NaN
605          NaN          NaN          NaN          NaN          NaN
606          NaN          NaN          NaN          NaN          NaN
607          NaN          NaN          NaN          NaN          NaN
608          NaN          NaN          NaN          NaN          NaN

            2023         2024         2025
0    1874.752835  1937.570401  1977.495035
1    3011.622278  3126.944311  3213.410965
2    2818.809229  2892.566904  2968.193324
3    1904.712252  2005.020921  2071.955034
4    1724.245271  1727.487084  1739.039788
..           ...          ...          ...
604          NaN  2631.327768  2693.182109
605          NaN          NaN   986.143351
606          NaN          NaN  1025.000000
607          NaN          NaN   962.500000
608   795.580465   828.884099   849.227936

[609 rows x 13 columns]}

In [21]:
#Dash App
app = dash.Dash(__name__)

app.layout = html.Div([
    html.H1("City Trend Viewer"),

    dcc.Dropdown(
        id='data-type',
        options=[{"label": k, "value": k} for k in dataframes.keys()],
        value="Rental Index",
        placeholder="Select data type"
    ),

    dcc.Dropdown(
        id='city-selector',
        placeholder="Select a city"
    ),

    dcc.Graph(id='line-graph')
])

In [22]:
# Populate cities based on selected dataset
@app.callback(
    Output('city-selector', 'options'),
    Input('data-type', 'value')
)
def update_city_dropdown(data_type):
    df = dataframes[data_type]
    cities = df['City'].unique()
    return [{"label": city, "value": city} for city in cities]

In [23]:
# Update graph when city is selected
@app.callback(
    Output('line-graph', 'figure'),
    [Input('data-type', 'value'),
     Input('city-selector', 'value')]
)
def update_graph(data_type, selected_city):
    df = dataframes[data_type]
    if selected_city is None:
        return {}

    city_df = df[df['City'] == selected_city].drop(columns=['City'])
    city_df = city_df.T.reset_index()
    city_df.columns = ['Date', 'Value']
    city_df = city_df[city_df['Date'] != 'City'] 

    fig = px.line(city_df, x='Date', y='Value', title=f'{data_type} for {selected_city}')
    fig.update_layout(xaxis_title="Date", yaxis_title=data_type)
    return fig
if __name__ == '__main__':
    app.run(debug=True, port=8051)